.contact-section {
  padding: 120px 0;
  .contact-content {
    h1 {
      padding-bottom: 80px;
      font-family: sans-serif;
      font-size: 32px;
      color: #000;
    }
    .contact__cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;
      flex-wrap: wrap;
      .contact__card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        width: 300px;
        height: 200px;
        border-right: 50px;
        border-right: 2px solid #ccc;
        // box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
        .img {
          max-width: 100px;
          img {
            width: 100%;
          }
        }
        h3 {
          font-family: sans-serif;
          font-size: 20px;
          color: #000;
        }
        p {
          font-family: sans-serif;
          font-size: 16px;
          color: #000;
        }
      }
      .contact__card:nth-child(4) {
        border: 0;
      }
      .contact__card:nth-child(8) {
        border: 0;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .contact-content {
      .contact__cards {
        justify-content: center;
        .contact__card {
          border-bottom: 2px solid #ccc;
          padding-bottom: 15px;
          border-right: 0;
        }
      }
    }
  }
}
